<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD-PQHGpSl8ThSaOHv1N5aWgARFY6nCd58</string>
	<key>GCM_SENDER_ID</key>
	<string>108210998277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.jokerbox</string>
	<key>PROJECT_ID</key>
	<string>joker-c5878</string>
	<key>STORAGE_BUCKET</key>
	<string>joker-c5878.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108210998277:ios:f6b255e00e3ad714bc206c</string>
</dict>
</plist>